<title>Fwitter</title>
<h3>Your Tweet</h3>


  <li><%=@tweet.content%></li>

  <form action="/tweets/<%= @tweet.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Tweet">
  </form>
  
 
  <a class="button" href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>